.red {
  height: 50px;
  width: 150px;
  background-color: red;
  text-align: center;
}

.orange {
  height: 50px;
  width: 150px;
  background-color: orange;
  text-align: center;
}

.yellow {
  height: 50px;
  width: 150px;
  background-color: yellow;
  text-align: center;
}

.green {
  height: 50px;
  width: 150px;
  background-color: green;
  text-align: center;
}

.blue {
  height: 50px;
  width: 150px;
  background-color: blue;
  text-align: center;
}

.indigo {
  height: 50px;
  width: 150px;
  background-color: indigo;
  text-align: center;
}

.violet {
  height: 50px;
  width: 150px;
  background-color: violet;
  text-align: center;
}
